body {
	background:#fbfdf6;
	font-family:"Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
	font-size:90%;
	color:#968765;
	margin:20px auto;
	text-align:center;
	line-height:1.4em;
	width:960px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Helvetica, Arial, sans-serif;
	font-size:1.5em;
	letter-spacing:-0.06em;
	text-transform:uppercase;
	font-weight:normal;
}

a:link, a:visited {
	font-family:georgia, times, serif;
	font-weight:bold;
	color:#c17086;
	text-decoration:none;
	border-bottom:1px solid #91476c;
	font-size:.9em;
}

a:hover {
	border-bottom:1px dotted #91476c;
}

a img {
	border:none;
}

header, section, article, footer {
	padding:10px 20px 10px;
	margin:0 10px 15px 0;
	border:1px solid #e7e2d7;
	border-radius:8px;
	-webkit-border-radius:.8em;
	-moz-border-radius:.8em;
	background:#fff url(sprites.png) repeat-x 0px -120px;
}

header {
	padding-bottom: 35px;
	display:block;
	position:relative;
	text-align:left;
}

header img {
	position:absolute;
	left:20px;
	top:18px;
}

header h1 {
	font-size:2.3em;
	text-transform:none;
	letter-spacing:0em;
	text-align:center;
}

hgroup a:link, hgroup a:visited {
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	color: #968765;
	text-decoration:none;
	border-bottom: none;
	font-size:.9em;
}

header h2 {
	margin:-10px 0px 20px;
	font-size:1.3em;
	text-align:center
}



section {
	margin-top: 10px;
	width:130px;
	text-align:left;
}

section h1, section h2, section h3, section h4, section h5, section h6 {
	background:transparent url(sprites.png) no-repeat 0px -80px;
	color:#fff;
	padding:9px 10px 10px 10px;
	margin:13px -10px;	
	text-shadow:0 1px 0 #403232;
}

section ul {
	padding:0px;
	list-style:none;
	border-top:1px solid #e7e2d7;
	margin:14px 0px;
}

section li {
	margin:0px;
	padding:0px;
	list-style:none;
}

section li a:link, section li a:visited {
	width:96%;
	padding:3px 1%;
	border-bottom:1px solid #e7e2d7;
}

section li a:hover {
	background:#f2f1ec;
}

article {
	text-align:left;
}

article h1 {
	background:transparent url(sprites.png) no-repeat 0px -40px;
	color:#fff;
	padding:7px 10px 12px 30px;
	margin-left:-30px;
	text-shadow:0 1px 0 #403232;
}

article h2, article h3, article h4, article h5, article h6  {
	background:transparent url(sprites.png) no-repeat 0px 0px;
	color:#fff;
	padding:7px 10px 12px 30px;
	margin-left:-30px;
	text-shadow:0 1px 0 #913951;
}

debut-article {
	display: block;
	font-family:Helvetica, Arial, serif;
	text-transform:uppercase;
	border-top:1px dotted #968765;
	border-bottom:1px dotted #968765;
	padding:5px 0px;
	color:#c17086;
}

footer {
	display:block;
	clear:both !important;
	width:898px;
}

footer a {
	margin:0px 5px;
}

textarea {
	font-family:"Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
	font-size:90%;
	color:#968765;
	border:1px solid #e7e2d7;
	border-radius:3px;
	-webkit-border-radius:.3em;
	-moz-border-radius:.3em;
	padding:2px 4px;
	background:#fff url(sprites.png) repeat-x 0px -120px;
}



button {
	font-family:Georgia, times, serif;
	font-size:1.2em;
	color:#fff;
	font-style:italic;
	border:1px solid #c17086;
	border-radius:3px;
	-webkit-border-radius:.3em;
	-moz-border-radius:.3em;
	padding:3px 12px;
	background:#bd1341 url(sprites.png) repeat-x -250px -82px;
}

button:hover {
	background-position:-350px -82px
}
/************************** Corentin *******************************/



/************************** Benevolat *******************************/
.titreTexte {
	font-size: 1.5em;
	margin-bottom: 10px;
}

/************************** Admin. Calendrier *******************************/
#types-atelier {
	float: left;
	left: -1px;
	width: 160px;
	padding: 0 10px;
	border: 1px solid #ccc;
	text-align: left;
	padding:10px 10px 20px;
	margin-top:10px;
	margin-left: 10px;
	border:1px solid #e7e2d7;
	border-radius:8px;
	-webkit-border-radius:.8em;
	-moz-border-radius:.8em;
	background:#fff url(sprites.png) repeat-x 0px -120px;
}
	
#types-atelier h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}
	
.external-event {
	margin: 10px 0;
	padding: 2px 4px;
	color: #fff;
	font-size: .7em;
	cursor: pointer;
	border-radius:5px;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
}

#calendrier-admin {
	float: right;
	width: 700px;
}

#article-cal-admin {
width: 700px;
float: right;
}

#ateliers-futurs a {
	font-size:1em;
}

#calendar a, #calendrier-admin a {
	font-family:Helvetica, Arial, sans-serif;
	font-size:0.7em;
	font-weight: normal;
}

titre-cal {
	font-size:1.5em;
}

#diapo
{
	margin-right: 10px;
}

#diapo img
{
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
}

  .slides_container {
    width:950px;
    height:250px;

  }
  .slides_container div {
    width:950px;
    height:250px;
    display:block;
  }

#intro
{
	margin-top: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px;
}


.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			15em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			25px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu {
	float:			left;
	margin-left: 15px;
	margin-bottom:	1em;
}
.sf-menu a {


}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/

}
.sf-menu li {
	padding: 5px;
}
.sf-menu li li {
	background:		#AABDE6;
}
.sf-menu li li li {
	background:		#9AAEDB;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background:		#CFDEFF;
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}


nav a:link, nav a:visited {
	font-size:1.0em;
	font-weight:normal;
}

#loading {
	position: absolute;
	top: 50%;
	left: 47%;
}
